{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Conditions générales de vente{% endblock %}

{% block meta %}E-Commerce, découvrez nos conditions générales de vente !{% endblock %}

{% block body %}
    <div class="conteneur-principal">
        <section>
            <h1>Conditions générales de vente</h1>
            <hr>
            <div class="conteneur conteneur-padding">
                <h2>Champ d'application</h2>
                <p>1.1 Ces conditions générales de vente (ci-après "CGV") s'appliquent à toutes les ventes conclues entre Tech Treck Market (ci-après "nous" ou "notre") et nos clients (ci-après "vous" ou "le client") sur notre site e-commerce.</p>
                <h2>Commandes et Contrats</h2>
                <p>2.1 Les informations relatives aux produits et les prix affichés sur notre site constituent une invitation à traiter. En passant une commande, vous faites une offre d'achat, sujette à notre acceptation.<br>
                2.2 Nous nous réservons le droit de refuser toute commande pour quelque raison que ce soit.<br>
                2.3 Les contrats de vente entre vous et nous seront considérés comme conclus une fois que nous aurons confirmé votre commande par e-mail et que le paiement aura été effectué avec succès.</p>
                <h2>Prix et Paiement</h2>
                <p>3.1 Les prix affichés sur le site sont en euros et incluent la TVA applicable.<br>
                3.2 Le paiement peut être effectué par carte banquaire. Les commandes ne seront traitées qu'après réception du paiement.</p>
                <h2>Livraison</h2>
                <p>4.1 Les délais de livraison sont estimés et peuvent varier en fonction de votre emplacement. Nous nous efforcerons de respecter ces délais, mais ils ne sont pas garantis.<br>
                4.2 Les frais de livraison seront indiqués au moment de la commande. Tout retard de livraison ne donne pas droit à une indemnisation.</p>
                <h2>Droit de Rétractation</h2>
                <p>5.1 Vous avez le droit de vous rétracter de votre commande dans un délai de 15 jours à compter de la réception des produits. Veuillez consulter notre politique de retour pour plus d'informations.</p>
                <h2>Responsabilité et Garantie</h2>
                <p>6.1 Nous nous efforçons de garantir que les produits sont exempts de défauts. Toutefois, notre responsabilité ne saurait être engagée au-delà du remplacement des produits défectueux ou du remboursement du prix d'achat.</p>
                <h2>Protection des Données Personnelles</h2>
                <p>7.1 Nous traitons vos données personnelles conformément à notre politique de confidentialité, disponible sur notre site.</p>
                <h2>Litiges</h2>
                <p>8.1 En cas de litige, les parties s'efforceront de trouver une solution amiable. À défaut, les tribunaux compétents seront...</p>
            </div>
        </section>
    </div>
{% endblock %}