{% extends 'base.html.twig' %}

{% block title %}E-Commerce - Mentions légales{% endblock %}

{% block meta %}E-Commerce, découvrez nos mentions légales !{% endblock %}

{% block body %}
    <div class="conteneur-principal">
        <section>
            <h1>Mentions Légales</h1>
            <hr>
            <div class="conteneur conteneur-padding">
                <h2>Informations générales</h2>
                <p>Raison sociale : [Nom de votre entreprise]</p>
                <p>Forme juridique : [Forme juridique de votre entreprise]</p>
                <p>Adresse : [Adresse de votre entreprise]</p>
                <p>Numéro de téléphone : [Numéro de téléphone de votre entreprise]</p>
                <p>Email : [Email de votre entreprise]</p>
                <p>Numéro d'immatriculation : [Numéro d'immatriculation de votre entreprise]</p>
                <h2>Directeur de la publication</h2>
                <p>Nom : [Nom du directeur de la publication]</p>
                <p>Contact : [Email ou numéro de téléphone du directeur de la publication]</p>
                <h2>Hébergement</h2>
                <p>Nom de l'hébergeur : [Nom de l'hébergeur]</p>
                <p>Adresse de l'hébergeur : [Adresse de l'hébergeur]</p>
                <p>Numéro de téléphone de l'hébergeur : [Numéro de téléphone de l'hébergeur]</p>
                <h2>Propriété intellectuelle</h2>
                <p>L'ensemble du contenu du site, textes, images, vidéos, etc., est la propriété de [Nom de votre entreprise] et est protégé par les lois sur la propriété intellectuelle.</p>
            </div>
        </section>
    </div>
{% endblock %}