.action-filters {
    display: none;
}

.sidebar {
    width: 150px;
}

.fa-home {
    margin-left: 17px !important;
    margin-bottom: 15px !important;
}

.fa-basket-shopping {
    margin-left: -2px !important;
}

.fa-city,
.fa-computer {
    margin-left: -7px !important;
}

.menu-item-contents {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height: 100px;
    gap: 15px;
}

.menu-icon {
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
    padding-left: 4px;
}

@media (min-width: 992px) {
    .menu-header-contents {
        margin-left: 10px !important;
    }
}