/* Bases */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.mobile-invisible {
    display: none;
}

.mobile-uniquement {
    display: contents;
}

/* Couleurs */

:root {
    --links: #000000;
    --linksFooter: #FFFFFF;
    --text: #2F2E2E;
    --lightText: #5B5656;
    --mainBg: #F3F3F3;
    --footerBgLight: #500202;
    --footerBgDark: #360000;
    --sectionBg: #FFFFFF;
    --arianeBg: #D9D9D9;
    --mainDark: #820F0F;
    --border: #D3D3D3;
    --bouton:#F8894B;
    --boutonText: #FFFFFF;
    --lightTextB: #919191;
    --textGreen: #00B22E;
    --textRed: #D71010;
    --boutonBuy: #73B43E;
    --boutonCurrent: #490D0D;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--mainDark);
    height: 125px;
}

.headerHaut {
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: 60px;
}

.headerMenu {
    position: relative;
    cursor: pointer;
}

.headerLogo {
    max-height: 50px;
}

.recherchePrincipale {
    height: 50px !important;
    width: 290px;
}

.headerNavigation {
    display: none;
    position: absolute;
    border: 1px solid var(--footerBgLight);
    top: 62px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 250px;
    padding-left: 10px;
    background-color: var(--mainBg);
    cursor: pointer;
}

li:hover {
    background-color: var(--lightTextB);
}

/* Contenu principal */

main {
    background-color: var(--mainBg);
    padding: 10px 20px;
}

.conteneur-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
    width: 75px;
    height: 1px;
    border: none;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: var(--mainDark);
}

.conteneur hr {
    width: 150px;
    margin-bottom: 20px;
    background-color: var(--border);
    margin-top: 0px;
    margin-inline: auto;
}

h1 {
    color: var(--text);
    font-size: 25px;
    font-weight: normal;
}

h2 {
    color: var(--lightText);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.conteneur h2 {
    line-height: 50px;
    text-transform: initial;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--lightText);
    background-color: var(--border);
}

p {
    color: var(--text);
    font-size: 12px;
}

.aucunProduit {
    padding: 10px;
    font-size: 16px;
}

a {
    color: var(--links);
    text-decoration: none;
}

.conteneur {
    position: relative;
    background-color: var(--sectionBg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.chevron {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Formulaires */

.formulaire-groupe-centre {
    width: 240px;
    margin-inline: auto;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--text);
}

input,
select {
    border: 1px solid var(--text);
    padding-left: 10px;
}

input::placeholder,
select {
    color: var(--lightText);
    font-style: italic;
}

input[type="text"],
select {
    height: 35px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

select {
    width: 190px;
}

.formulaire-coche {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    height: 35px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bouton);
    color: var(--boutonText);
    cursor: pointer;
}

form .boutton-icone {
    width: 35px;
}

label {
    font-size: 14px;
    color: var(--lightText);
}

.formulaire-texte-bouton {
    display: flex;
    gap: 15px;
}

.formulaire-texte-bouton input[type="text"] {
    width: 190px;
}

.bouton-centre {
    width: 100%;
    padding-top: 12px;
    text-align: center;
}

.bouton-petit {
    width: 150px;
}

.formulaire-double-texte {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.formulaire-double-texte input[type="text"] {
    width: 110px;
}

/* Pagination */

.pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 7px 0px;
    color: var(--boutonText);
}

.pagination a {
    color: var(--boutonText);
}

.pagination .page-actuelle {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--boutonCurrent);
    border-radius: 5px;;
}

.pagination .premiere-page,
.pagination .page,
.pagination .derniere-page {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--bouton);
    border-radius: 5px;;
}

.pagination-haut {
    text-align: center;
    padding-bottom: 7px;
}

/* Fil d'ariane */

.ariane {
    display: flex;
    margin: 10px 0px;
}

.section-ariane {
    text-transform: uppercase;
    line-height: 30px;
    padding-inline: 10px;
    border-radius: 5px;
    color: var(--links);
    background-color: var(--arianeBg);
}

/* Catégories */

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liste-categories {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sous-categorie {
    display: flex;
    align-items: center;
    width: 350px;
    height: 130px;
}

.sous-categorie img {
    position: absolute;
}

.sous-categorie a {
    padding-left: 130px;
    margin-inline: auto;
}

/* Filtres */

.filtres {
    padding: 0px 35px 20px 35px;
}

/* Produits */

.produit {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.produit-image {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produit-image img {
    max-width: 100%;
    max-height: 100%;
}

.produit-infos {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
}

.produit-designation {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
}

.produit-resume {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--lightTextB);
    max-height: 32px;
}

.produit-prix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top: 11px;
}

.stock-oui {
    font-size: 13px;
    color: var(--textGreen);
}

.stock-non {
    font-size: 13px;
    color: var(--textRed);
}

.produit-achat {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 13px;
}

.prix {
    font-size: 18px;
    color: var(--textRed);
}

.bouton-achat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--boutonBuy);
}

/* Footer */

.footerHaut {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 146px;
    background-color: var(--footerBgLight);
}

.footerHaut a {
    color: var(--linksFooter);
}

.footerBas {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
    justify-content: center;
    height: 190px;
    background-color: var(--footerBgDark);
}

.footerBas p {
    color: var(--linksFooter);
    font-size: 16px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 190px;
}

/* tablettes et ordinateurs */ 
@media only screen and (min-width: 768px) {

    .mobile-invisible {
        display: contents;
    }

    .mobile-uniquement {
        display: none;
    }

    .section-ariane-accueil {
        max-height: 30px;
        padding: 0px;
        text-transform: uppercase;
        border-radius: 5px;
        color: var(--links);
        background-color: var(--arianeBg);
    }
}