/* Bases */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

.mobile-invisible {
    display: none;
}

.mobile-uniquement {
    display: contents;
}

/* Couleurs */

:root {
    --modal: rgba(0, 0, 0, 0.25);
    --links: #000000;
    --linksFooter: #FFFFFF;
    --text: #2F2E2E;
    --lightText: #5B5656;
    --mainBg: #F3F3F3;
    --footerBgLight: #500202;
    --footerBgDark: #360000;
    --tabBg: #ECECEC;
    --sectionBg: #FFFFFF;
    --arianeBg: #D9D9D9;
    --mainDark: #820F0F;
    --border: #D3D3D3;
    --bouton:#F8894B;
    --boutonText: #FFFFFF;
    --lightTextB: #919191;
    --textGreen: #00B22E;
    --textRed: #D71010;
    --boutonBuy: #73B43E;
    --boutonCurrent: #490D0D;
    --listBg: #F7F7F7;
    --textOrange: #B25500;
    --favoriteAdress: rgba(40, 167, 69, 0.15);
    --borderFavoriteAdress: rgba(40, 167, 69, 0.35);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--mainDark);
    height: 125px;
}

.headerHaut {
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: 60px;
}

.headerMenu {
    position: relative;
    cursor: pointer;
}

.headerHautMenu, .headerHaut a {
    padding-top: 5px;
}

.headerLogo {
    max-height: 50px;
    max-width: 140px;
}

.recherchePrincipale {
    height: 50px !important;
    width: 290px;
}

.headerNavigation {
    display: none;
    position: absolute;
    border: 1px solid var(--footerBgLight);
    top: 62px;
    z-index: 1;
}

ul {
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.menuOption {
    height: 50px;
    width: 250px;
    padding-left: 10px;
    background-color: var(--mainBg);
}

.menuOption:hover {
    background-color: var(--lightTextB);
}

/* Contenu principal */

main {
    background-color: var(--mainBg);
    padding: 10px 20px;
    min-height: calc(100vh - 461px);
}

.sub-conteneur-visible {
    display: flex;
}

.sub-conteneur-invisible {
    display: none;
}

.conteneur-principal {
    display: flex;
}

.conteneur-principal,
.sub-conteneur {
    flex-direction: column;
    gap: 20px;
}

.conteneur-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

hr {
    width: 75px;
    height: 1px;
    border: none;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: var(--mainDark);
}

.conteneur hr {
    width: 150px;
    margin-bottom: 20px;
    background-color: var(--border);
    margin-top: 0px;
    margin-inline: auto;
}

h1 {
    color: var(--text);
    font-size: 25px;
    font-weight: normal;
}

h2 {
    color: var(--lightText);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.conteneur h2 {
    line-height: 50px;
    text-transform: initial;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--lightText);
    background-color: var(--border);
}

p {
    color: var(--text);
    font-size: 12px;
}

.aucunProduit {
    padding: 10px;
    font-size: 16px;
}

a {
    color: var(--links);
    text-decoration: none;
}

.conteneur {
    position: relative;
    background-color: var(--sectionBg);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.conteneur-padding {
    padding: 0px 20px 20px 20px;
}

.chevron {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Formulaires */

form {
    margin-top: 10px;
}

:not(.formulaire-radio) > label.required:after {
    content: " *";
}

.formulaire-sections {
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
}

.formulaire-sections-haut {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formulaire-groupe-centre {
    width: 240px;
    margin-inline: auto;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--text);
}

input,
select {
    border: 1px solid var(--text);
    padding-left: 10px;
    width: 100%;
}

input::placeholder,
select {
    color: var(--lightText);
    font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    height: 35px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

input[type="radio"] + label {
    margin-right: 20px;
}

.select-190 {
    width: 190px;
}

.formulaire-coche {
    display: flex;
    align-items: center;
    gap: 5px;
}

button, .bouton-lien {
    height: 35px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bouton);
    color: var(--boutonText);
    cursor: pointer;
    font-size: 14px;
}

.bouton-lien {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton-lien-centre {
    align-self: center;
}

.boutton-icone {
    width: 35px;
}

.bouton-valider-commande {
    background-color: var(--boutonBuy);
}

label,
.type-label {
    font-size: 14px;
    color: var(--lightText);
}

.formulaire-texte-bouton {
    display: flex;
    gap: 15px;
}

.formulaire-texte-bouton input[type="text"] {
    width: 190px;
}

.bouton-centre {
    width: 100%;
    padding-top: 12px;
    text-align: center;
}

.bouton-100 {
    width: 100px;
}

.bouton-150 {
    width: 150px;
}

.bouton-200 {
    width: 200px;
}

.formulaire-double-texte {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.formulaire-double-texte input[type="text"] {
    width: 110px;
}

.formulaire-champ {
    margin-bottom: 10px;
}

.formulaire-champ-bouton {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: end;
}

.formulaire-radio {
    display: flex;
}

.formulaire-texte,
.password-field {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.formulaire-champ-horizontal {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bouton-ajout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 35px;
    background-color: var(--bouton);
    color: var(--boutonText);
    border-radius: 5px;
    cursor: pointer;
}

/* Pagination */

.pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 7px 0px;
    color: var(--boutonText);
}

.pagination a {
    color: var(--boutonText);
}

.pagination .page-actuelle {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--boutonCurrent);
    border-radius: 5px;;
}

.pagination .premiere-page,
.pagination .page,
.pagination .derniere-page {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--bouton);
    border-radius: 5px;;
}

.pagination-haut {
    text-align: center;
    padding-bottom: 7px;
}

/* Fil d'ariane */

.ariane {
    display: flex;
    margin: 10px 0px;
}

.section-ariane {
    text-transform: uppercase;
    line-height: 30px;
    padding-inline: 10px;
    border-radius: 5px;
    color: var(--links);
    background-color: var(--arianeBg);
}

/* Accueil */

.accueil-conteneur {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-inline: 20px;
}

.accueil-conteneur-image {
    position: absolute;
    top: -50px;
    left: 22px;
}

.accueil-nom-categorie {
    text-align: end;
    font-size: 20px;
    color: var(--lightText);
    margin: 15px 12px 26px 0px;
}

.menu-categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
}

.menu-categorie:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

/* Catégories */

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liste-categories {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sous-categorie {
    display: flex;
    align-items: center;
    width: 350px;
    height: 130px;
}

.sous-categorie img {
    position: absolute;
}

.sous-categorie a {
    padding-left: 130px;
    margin-inline: auto;
}

/* Filtres */

.filtres {
    padding: 0px 35px 20px 35px;
}

/* Nouveautés */

.nouveautes {
    padding: 20px;
    margin-bottom: 20px;
}

.nouveau-produit {
    display: flex;
}

.nouveau-infos {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

/* Marques */

.marques {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 15px;
}

.marque {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}

.marque-image {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
}

.marque-image img {
    max-width: 80px;
    max-height: 80px;
}

/* Produits */

.produit {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.produit-image {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produit-image img {
    max-width: 100%;
    max-height: 100%;
}

.produit-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produit-designation {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 5px;
}

.produit-resume {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--lightTextB);
    max-height: 32px;
}

.produit-prix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding-top: 11px;
}

.stock-oui {
    font-size: 13px;
    color: var(--textGreen);
}

.stock-non {
    font-size: 13px;
    color: var(--textRed);
}

.produit-achat {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 13px;
}

.prix {
    font-size: 18px;
    color: var(--textRed);
}

.bouton-achat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--boutonBuy);
    border-radius: 5px;
}

/* Profil utilisateur */

.profil {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
}

.profil-categories {
    margin-top: 4px;
    width: 100%;
    cursor: pointer;
}

.profil-categorie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-top: 1px solid var(--border);
    font-weight: bold;
}

.profil-supprimer {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.pc-actif {
    background-color: var(--tabBg);
    color: var(--mainDark);
}

.commande {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commande-infos {
    background-color: var(--listBg);
}

.commande-produit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100px;
    padding-right: 20px;
}

.liste-separateur:not(:last-child) {
    margin-bottom: 15px;
}

.etat-en-cours {
    color: var(--textOrange);
}

.etat-expediee {
    color: var(--textGreen);
}

.commande-details-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textRed);
}

.commande-details-text {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.commande-details {
    display: none;
}

.rotation-chevron {
    transform: rotate(180deg);
}

.profil-bouton-centre {
    display: flex;
    justify-content: center;
}

.profil-bouton-centre-facture {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.adresses {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 20px;
}

.adresse-haut {
    display: flex;
    padding-inline: 10px;
    align-items: center;
    gap: 10px;
    background-color: var(--listBg);
    height: 50px;
}

.adresse-image {
    width: 35px;
    height: 35px;
}

.adresse-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    height: 77px;
}

.adresse-preferee {
background-color: var(--favoriteAdress);
border: 1px solid var(--borderFavoriteAdress);
}

.adresse-actions {
    display: flex;
    gap: 10px;
}

.types-facture {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.type-facture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    padding-inline: 5px;
    cursor: pointer;
    font-size: 14px;
    background: var(--mainBg);
}

.type-facture-selected {
    background: var(--bouton);
    color: var(--boutonText);
    cursor: default;
}

.formulaire-invisible {
    display: none;
}

.commande-suivant {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0px 10px 0px;
}

/* Panier */

.liste {
    border: 1px solid var(--border)
}

.panier-produit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 120px;
}

.panier-produit:not(:first-child) {
    border-top: 1px solid var(--border);
}

.panier-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 5px;
}

.panier-total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panier-prix {
    margin-top: 20px;
    font-size: 32px;
    color: var(--textRed);
}

.bouton-commander {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
    color: var(--boutonText);
    background-color: var(--boutonBuy);
    border-radius: 5px;
    margin-inline: auto;
    margin-top: 30px;
    cursor: pointer;
}

.panier-vide {
    width: 250px;
    display: block;
    margin: auto;
}

.commande-resume {
    margin-top: 15px;
}

.commande-resume p {
    margin-bottom: 10px;
}

/* Footer */

.footerHaut {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 146px;
    background-color: var(--footerBgLight);
}

.footerHaut a {
    color: var(--linksFooter);
}

.footerBas {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
    justify-content: center;
    height: 190px;
    background-color: var(--footerBgDark);
}

.footerBas p {
    color: var(--linksFooter);
    font-size: 16px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 190px;
}

/* Factures */

.facture-table {
    border: 1px solid black;
}

/* Modales */

.modal {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--modal);
    display: none;
    align-items: center;
    justify-content: center;
}

.conteneur-modal {
    position: relative;
    width: 350px;
    padding: 15px 35px;
    border-radius: 15px;
    border: 1px solid var(--border);
    background-color: var(--sectionBg);
    display: none;
}

.fermer-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.modal-fermer {
    width: 15px;
    height: 15px;
}

/* tablettes et ordinateurs */ 
@media only screen and (min-width: 768px) {

    .mobile-invisible {
        display: contents;
    }

    .mobile-uniquement {
        display: none;
    }

    .section-ariane-accueil {
        max-height: 30px;
        padding: 0px;
        text-transform: uppercase;
        border-radius: 5px;
        color: var(--links);
        background-color: var(--arianeBg);
    }

    /* Formulaires */

    .formulaire-centre {
        display: flex;
        justify-content: center;
    }
}